In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized for efficient storage, retrieval ,and
management it serves as a cental repository for storing and managing information.
SQL (structured Query Language) and NoSQL are two type

1. SQL(Relational Databases)
2. NoSQL(Non-Relational Database):

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL(Data Definition Language) and it is a subset of SQL that deals with the structure of a database.
DDL commonds are used to define,modify,and remove database objects like tables, indexes,

CREATE TABLE employess (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(50),
    salary DECIMAL(10,2)
);

DROPE TABLE employees;

In [ ]:
ALTER TABLE employees 
ADD COLUMN department VARCHAR(50);

In [ ]:
TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML(DATA MANIPULATION LANGUAGE,) and its a subset of SQL used for managing data within a database.

In [ ]:
INSERT INTO employees(employee_id, employee_name, salary) values (101, 'John Doe',50000);

In [ ]:
UPDATE employees SET salary = 55000 WHERE employee_id = 101;

In [ ]:
DELETE FROM employees WHERE employee_id = 101;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL(data query language, ) and it is a subset of sql used for querying and retrieving data from database

In [ ]:
SELECT column1, column2 
FROM table_name
WHERE condition;

In [ ]:
SELECT first_name , last_name
FROM employees 
WHERE department = 'IT';

In [ ]:
Q5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for a record in a database table, ensuring each row has a distinct value it enforces data integrity and is often used as a reference point in relationships.with other tables.

A foreign key, on the other hand is a field in a database table that refers to the primary key in another table .it establishes a link between  the two tables,

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector  

host= "your_host"
user= "your_username"
password="your_password"
database="your_database"

cursor = connection.cursor()
cursor.execute("SELECT * FROM your_table")
results= cursor.fetchall()
for row in results:
    print(row)
cursor. close()
connection. close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1.parsing and lexing
2.synatx checking
3.semantic Analysis 
4.Query optimization
5.Execution plan Generation
6.Data manipulation
7.data retrieval
8.transaction management
9.Result set Generation
10. Result pres